
body{
    font-family: Arial, sans-serif;
    background:white;
    margin:0;
    padding:40px;
}
h2{color:#c40000;}
button{
    background:#c40000;
    color:white;
    padding:10px 20px;
    border:none;
    cursor:pointer;
    border-radius:5px;
    transition:0.3s;
}
button:hover{
    background:#8b0000;
}
input{
    padding:10px;
    margin:8px 0;
    width:250px;
    border:1px solid #ccc;
    border-radius:5px;
}
.container{
    max-width:400px;
    margin:auto;
    padding:20px;
    border:1px solid #eee;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}
